@reset-global mobile;
html{
  font-size: 10px;
}
.address-shade{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0,0,0,.3);
  z-index: 99999;
}
.pcm-address{
  display: inline-block;

  .address-input{
    width: 350px;
    border: 1px solid #ced1d9;
    height: 34px;
    line-height: 32px;
    border-radius: 4px;
    .input{
      border: 0;
      height: 30px;
      line-height: 30px;
      margin-top: -5px;
      width: 320px;
      padding-left: 12px;
      @utils-ellipsis;
    }
  }
  .address-pc{
    width: 454px;
    border: 1px solid #ced1d9;
    .address-tabs{
      width: 100%;
      background-color: #f5f8fa;
      ul{
        font-size: 0px;
        list-style: none;
      }
      li{
        display: inline-block;
        a{
          display: inline-block;
          width: 113px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 14px;
          padding:0 10px;
          color: #1c3a50;
          @utils-ellipsis;
        }
        a.active{
          background-color: #fff;
        }
      }

    }
    .address-panels{
      .block-index{
        display: table;
        padding: 5px;
        .address-label{
          display: table-cell;
          vertical-align: top;
          width: 60px;
          padding-left: 12px;
          color: #1c3a50;
          line-height: 30px;
          padding-top: 0;
        }
        .address-btns{

          button{
            margin: 0;
            font-size: 14px;
            color: gray;
            height: 30px;
            text-align: center;
            border: 0;
            background: transparent;
            cursor: pointer;
            padding: 0 12px;
            outline: none;
          }
          button:hover{
            background-color: #e1e1e1;
            border-radius: 15px;
          }

          button.active{
            color: #fff;
            background-color: #7ec5fc;
            border-radius: 15px;
          }
        }
      }
    }
  }
  .address-mobile{
    width: 100%;
    padding-top: 4.2rem;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    z-index: 100000;
    height: 34.2rem;
    .address-tabs{
      position: absolute;
      width: 100%;
      top:0;
      ul{
        font-size: 0px;
        list-style: none;
        display: flex;
        width: 100%;
      }
      li{
        display: flex;
        flex: 1;
        width: 25%;
        a{
          display: inline-block;
          width: 100%;
          height: 4.2rem;
          line-height: 4.2rem;
          text-align: center;
          font-size: 1.4rem;
          background: #fff;
          color: #1c3a50;
          @utils-ellipsis;
          padding:0 1rem;
          border-bottom: .2rem solid #e1e1e1;
        }
        a.active{
          background-color: #fff;
          color: #ff6000;
          border-bottom: .2rem solid #ff6000;
        }
      }
    }
    .address-panels{
      height: 30rem;
      overflow: auto;
      -webkit-overflow-scrolling : touch;
      background: #fff;
      .block-index{
        .address-label{
          padding-left: 1.2rem;
          color: #1c3a50;
          height: 1.6rem;
          line-height: 1.6rem;
          background: linear-gradient(to bottom, #e1e1e1 0%,#fff 100%);
        }
        .address-btns{
          button{
            width: 100%;
            margin: 0;
            padding-left: 1.2rem;
            font-size: 1.2rem;
            color: gray;
            height: 4rem;
            line-height: 4rem;
            border: 0;
            border-bottom: .1rem solid #e1e1e1;
            text-align: left;
            background: #fff;
            cursor: pointer;
            outline: none;
          }
          button:hover{
            color: #ff6000;
          }
          button.active{
            color: #ff6000;
          }
        }
      }
    }
  }
}

